In [1]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv("Dataset_CDS/synthetic_imbalanced_dataset.csv")

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   feature_0   1000 non-null   float64
 1   feature_1   1000 non-null   float64
 2   feature_2   1000 non-null   float64
 3   feature_3   1000 non-null   float64
 4   feature_4   1000 non-null   float64
 5   feature_5   1000 non-null   float64
 6   feature_6   1000 non-null   float64
 7   feature_7   1000 non-null   float64
 8   feature_8   1000 non-null   float64
 9   feature_9   1000 non-null   float64
 10  feature_10  1000 non-null   float64
 11  feature_11  1000 non-null   float64
 12  feature_12  1000 non-null   float64
 13  feature_13  1000 non-null   float64
 14  feature_14  1000 non-null   float64
 15  feature_15  1000 non-null   float64
 16  feature_16  1000 non-null   float64
 17  feature_17  1000 non-null   float64
 18  feature_18  1000 non-null   float64
 19  feature_19  1000 non-null   float64
 20  target      1000 non-null   int64
dtypes: float64(20), int64(1)
memory usage: 164.2 KB

In [18]:
df.describe()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,target
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.041839,-0.072787,-0.184330,-0.039396,-0.103067,-0.002051,0.023751,-0.817468,0.397917,-0.835306,...,0.126072,0.163636,0.025932,0.679375,1.482026,0.955297,0.138883,0.067969,0.013416,0.157000
std,2.112654,1.901014,1.989229,2.005578,3.562932,0.988013,1.011611,1.826779,2.975317,1.942031,...,2.082076,4.246677,0.990602,2.127462,3.440261,2.051176,2.148479,3.581488,1.017575,0.363983
min,-6.983623,-7.030162,-6.028016,-6.765842,-12.436496,-3.250333,-3.375579,-6.959322,-9.055589,-8.705917,...,-6.007339,-14.410781,-3.329504,-6.297444,-10.713231,-6.925613,-7.455322,-12.281804,-3.094289,0.000000
25%,-1.279513,-1.251166,-1.574670,-1.273647,-2.326126,-0.670887,-0.659505,-1.981207,-1.623301,-2.181790,...,-1.295170,-2.558918,-0.590123,-0.714747,-0.622676,-0.458599,-1.402827,-2.407436,-0.659659,0.000000
50%,0.066510,0.122239,-0.217211,0.112901,-0.065010,0.015847,0.001733,-0.795051,0.535027,-0.817003,...,0.287943,0.189425,0.043274,0.660744,1.522924,0.934616,0.112965,-0.299137,0.006404,0.000000
75%,1.501731,1.219765,1.148639,1.313844,2.420356,0.626378,0.706289,0.271740,2.505445,0.527101,...,1.608809,2.974175,0.650973,2.074601,3.634587,2.344701,1.579512,2.329344,0.718129,0.000000
max,5.630209,5.809771,6.903293,6.832418,8.961016,3.287761,3.428910,6.410888,8.054450,5.101133,...,7.501492,13.935539,3.285724,7.889919,14.332663,8.370111,7.159305,13.268480,3.377768,1.000000

In [19]:
df.sample(5)

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,target
244,1.645845,1.843819,2.247028,2.394108,2.989796,-2.550026,0.386025,-0.553200,-0.256390,2.279519,...,-2.312646,3.657507,0.543654,0.095914,-0.224215,2.826948,3.345874,6.224340,-0.489944,0
205,0.040131,-3.333242,-4.372963,-2.714869,-4.150243,-0.501177,0.757056,0.730640,-2.841778,-2.591854,...,3.937925,-9.174267,0.689940,2.275214,8.972392,4.775500,-2.543183,-0.260637,-1.327507,0
202,-3.858692,1.778539,-3.208365,2.855721,5.653828,0.629085,-0.622731,1.799198,-5.720541,-1.202928,...,-4.131363,-7.669053,-1.051329,0.290022,4.233331,0.154584,-1.201193,2.348154,-1.176698,0
658,-0.225250,-1.043446,6.903293,-1.284209,-6.704081,-1.569099,-0.530090,-3.949866,7.582927,2.050998,...,2.900831,7.363840,0.096898,5.426442,0.713837,-0.261746,1.291371,3.318393,1.293753,0
227,-0.015853,0.889941,2.048786,3.581313,4.642644,-0.916639,-0.111354,0.546611,-1.666263,3.710355,...,-2.968640,1.118058,-0.210156,-0.203255,-2.603225,-0.809770,1.774853,3.829943,-0.989659,0

In [20]:
df.isnull().sum()

feature_0     0
feature_1     0
feature_2     0
feature_3     0
feature_4     0
feature_5     0
feature_6     0
feature_7     0
feature_8     0
feature_9     0
feature_10    0
feature_11    0
feature_12    0
feature_13    0
feature_14    0
feature_15    0
feature_16    0
feature_17    0
feature_18    0
feature_19    0
target        0
dtype: int64

In [21]:
x = df.drop(columns=['target'])
y = df['target']

In [22]:
x.shape

(1000, 20)

In [23]:
y.value_counts()

target
0    843
1    157
Name: count, dtype: int64

In [24]:
from sklearn.model_selection import StratifiedKFold, cross_val_score
from sklearn.svm import SVC

In [25]:
svm = SVC()

In [29]:
cv = StratifiedKFold(n_splits = 5, shuffle = True, random_state= 42)
scores = cross_val_score(svm, x, y, scoring='f1', cv=cv)

In [30]:
print(scores)
print(scores.mean())

[0.80769231 0.87272727 0.84210526 0.79245283 0.70588235]
0.8041720053414663

In [34]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

param_grid = {
    'C': [0.1, 1, 10],              
    'kernel': ['linear', 'rbf'],
    'gamma': ['scale', 'auto']
}

grid = GridSearchCV(SVC(), param_grid, scoring='f1', cv=cv)
grid.fit(x, y)

print(f'Best Parameters: {grid.best_params_}')
print(f'Best f1 Score: {grid.best_score_}')

Best Parameters: {'C': 10, 'gamma': 'scale', 'kernel': 'rbf'}
Best f1 Score: 0.8749985132322331

In [40]:
from imblearn.over_sampling import SMOTE
from collections import Counter

smote = SMOTE(random_state= 42)
x_res, y_res = smote.fit_resample(x,y)

print('orginal class distribution:', Counter(y))
print('after SMOTE:', Counter(y_res))

orginal class distribution: Counter({0: 843, 1: 157})
after SMOTE: Counter({0: 843, 1: 843})

In [41]:
y_res.value_counts()

target
0    843
1    843
Name: count, dtype: int64